# dependencies
**/node_modules
.pnp
.pnp.*

# testing
**/coverage

# build
**/dist
**/build
**/dist-zip
chrome-extension/manifest.js
chrome-extension/pre-build.tsconfig.tsbuildinfo
tsconfig.tsbuildinfo

# next.js
**/.next/
**/out/

# env
**/.env.*
**/.env

# etc
.DS_Store
.idea
**/.turbo
*.pem

# compiled
**/tailwind-output.css

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# cloudflare
**/.open-next
**/.wrangler
**/.dev.vars

# prisma generated
**/lib/generated/prisma

# playwright
**/.playwright-mcp

# history
**/.history

